/**
 * RESET
 *
 * Reset the margins and paddings, etc of all raw html elements
 * Make block elements actually display block
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  border: 0;
  font-size: 100%;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
}

*:focus {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  background: $base_2;
  color: $base_8;
  font: 300 10px/1 'Roboto', sans-serif;
  font-smoothing: antialiased;
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font: 500 10px/2.5rem 'Roboto Slab', serif;
  padding: 1rem 0 .5rem;
}

h1 {
  border-bottom: 1px solid $base_3;
  color: $base_8;
  font-size: 4rem;
  font-weight: 100;
  line-height: 5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

h2 {
  font: 100 3rem/4.2rem 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 2rem 0 1rem;
  text-shadow: 0 1px 0 #fff;
}

h3 {
  font: 300 2.5rem/3.8rem 'Roboto Slab', serif;
}

a {
  color: darken($brand_teal, 20%);
  font-weight: 500;
  text-decoration: none;

  &:hover {
    color: darken($brand_teal, 35%);
  }
}

p {
  font: 300 1.3rem/2.2rem 'Roboto', sans-serif;
  padding: 1.5rem 0;
}

pre, code {
  font: 400 1.2rem/1 Hasklig, Monaco, fixed
}
