section.content {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  font: 300 1.3rem/2rem 'Roboto', sans-serif;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  width: 100%;
  z-index: 300;

  article {
    background: $base_1;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    float: left;
    padding: 2.5rem;
    width: 60%;
    z-index: 290;
  }

  h1, h2, h3 {
    clear: both;
    text-align: center;
  }

  div > p {
    padding: 1rem 0;
    text-indent: 2rem;
  }

  // blockquotes serve as aside because markdown is weak
  blockquote {
    box-sizing: border-box;
    clear: right;
    float: right;
    margin: 0 -76% 2.5rem 0;
    padding: 0 2.5rem;
    width: 72%;

    blockquote {
      clear: none;
      float: none;
      margin: 0;
      padding: 0;
      width: auto;

      p {
        border: none;
        padding: 1rem 1.5rem;

        code {
          color: rgba(0, 0, 0, 0.3);
          font-weight: 500;
        }
      }
    }

    p {
      background: rgba(0, 0, 0, 0.05);
      border-left: 2px solid rgba(0, 0, 0, 0.1);
      letter-spacing: .05rem;
      padding: 1.5rem 2rem;
    }

    pre {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
      line-height: 1.8rem;
      margin: 0 0 2.5rem 0;
      padding: 1.5rem;
    }

    table {
      border-collapse: collapse;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
      margin: 0 0 2.5rem 0;
      width: 100%;

      tr {
        th {
          background: rgba(255, 255, 255, 0.7);
        }

        td {
          background: rgba(255, 255, 255, 0.5);
        }

        &:nth-child(odd) {
          td {
            background: rgba(255, 255, 255, 0.3);
          }
        }

        &:hover {
          td {
            background: rgba(255, 255, 255, 0.7);
          }
        }
      }

      th, td {
        padding: 1rem 1.5rem;
        text-align: left;
        transition: background-color .2s;
      }

      th {
        border-bottom: 1px solid $base_2;
      }
    }
  }

  ul {
    margin: 1rem 1rem 1rem 3.8rem;

    li {
      list-style: circle;
      margin: .5rem 0;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    tr {
      &:nth-child(odd) {
        td {
          background: lighten($base_1, 2%);
        }
      }

      &:hover {
        td {
          background: #fff;
        }
      }
    }

    th, td {
      padding: 1rem 1.5rem;
      text-align: left;
      transition: background-color .2s;
    }

    th {
      border-bottom: 1px solid $base_2;
    }
  }

  code {
    color: $brand_pink;
  }

  &.cover {
    text-align: center;

    h1 {
      margin: 5rem auto 2rem;
      width: 80%;
    }

    h2 {
      margin: 1rem 0 0;
      padding: 4rem 0 0;
    }

    blockquote {
      background: rgba(0, 0, 0, 0.05);
      border: none;
      float: none;
      margin: 8rem 0 0 0;
      width: auto;
    }

    p {
      background: none;
      border: none;
      font-size: 1.5rem;
      line-height: 2.4rem;
      padding: 2rem;
    }

    em {
      display: block;
      font-size: 1.2rem;
      padding-bottom: 4rem;
    }

    ul {
      margin: 0;
      padding: 0 0 2rem;
      list-style: none;

      li {
        font-size: 1.8rem;
        list-style: none;
        padding: 1rem 0;
      }
    }
  }
}
