.button {
  &.cta {
    background: $base_1;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
    color: $base_6;
    cursor: pointer;
    font: 400 1.5rem/1 'Roboto Condensed', sans-serif;
    letter-spacing: .02rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 1.4rem 2.5rem;
    text-transform: uppercase;
    transition: all .2s;

    &:hover {
      border-color: rgba(255, 255, 255, 0.7);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 0 15px 0 rgba(255, 255, 255, 0.5);
      color: $base_8;
    }

    &:active {
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
    }

    &.orange {
      background-image: linear-gradient(-180deg, rgba(228,136,74,0.99) 0%, #D1671C 100%);
      border: 1px solid rgba(255,255,255,0.50);
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

      &:hover {
        border-color: rgba(255, 255, 255, 0.7);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 0 15px 0 rgba(255, 255, 255, 0.2);
      }

      &:active {
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1), inset 0 0 3px 0 rgba(0, 0, 0, 0.3);
      }
    }

    i {
      padding-right: 1rem;
    }
  }
}
